@use "/src/scss/variables.scss";
@use "/src/scss/mixin.scss";

.authOptions {
	width: 95%;
	margin: 0 auto;
	&__cover {
		background-image: url("/src/assets/img/authOptions.svg");
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		min-height: 325.5px;
		height: 60vh;
	}
	&__boxTexts {
		padding: 2rem 20% 4rem 1rem;
		font-family: variables.$fontFamily--secondary;

		&__header {
			font-weight: 600;
			font-size: 5rem;
			margin-bottom: 1rem;
		}
		&__description {
			font-weight: 300;
			font-size: 2rem;
			line-height: 2.5rem;
			color: variables.$font--color--secondary;
		}
	}
	&__buttons {
		padding-left: 1rem;
		padding-bottom: 1rem;
		display: flex;
		gap: 1rem;
		font-family: variables.$fontFamily--secondary;

		&__singIn {
			@include mixin.loginOrRegisterButton;
			width: 75%;
			padding: 2rem 7.3rem 2rem 7.3rem;
			font-size: 1.8rem;
		}
		&__singUp {
			color: variables.$font--color--secondary;
			background-color: inherit;
			border-radius: 1.6rem;
			font-weight: 400;
			font-size: 1.5rem;
			padding: 1rem;
			border: none;
			outline: none;
		}
		&__singUp,
		&__singIn {
			text-decoration: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__singIn:focus {
			@include mixin.loginOrRegisterButtonFocused;
		}
		&__singUp:focus {
			background-color: rgba(29, 82, 187, 0.284);
		}
	}
}
