@use "/src/scss/variables.scss";
.overlay {
	position: absolute;
	top: -30rem;
	right: 2rem;
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	animation: Overlay 4s forwards;
	&__popup {
		margin: 7rem auto;
		padding: 2rem;
		background: #ffffff34;
		border-radius: 0.5rem;
		position: relative;
		width: 20rem;
        border-radius: 5rem;
        text-align: center;
		&__header {
			font-family: variables.$fontFamily--primary;
			font-size: 2rem;
			font-weight: 600;
			color: aquamarine;
		}
	}
}

@keyframes Overlay {
	0% {
		transform: translateY(20rem);
		visibility: visible;
		opacity: 1;
	}
	100% {
		transform: translateY(30rem);
	}
}
