@use "/src/scss/variables.scss";
@use "/src/scss/mixin.scss";

.background {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -0%);
	min-height: 36rem;
	width: 100%;
	background-image: url("/src/assets/img/authOptions.svg");
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
}
.background::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.69);
	z-index: 1;
}

.form {
	position: relative;
	font-family: variables.$font--color--secondary;
	margin-top: 25rem;
	background-color: #222232;
	border-radius: 4.2rem 4.2rem 0px 0px;
	min-height: calc(100vh - 25rem);
	padding: 4rem 2.4rem 0rem 2.4rem;
	display: flex;
	flex-direction: column;
	@import "/src/scss/module/AuthOptions/syntaxForm/syntaxHeader";
	@import "/src/scss/module/AuthOptions/syntaxForm/syntaxInputs";
	@import "/src/scss/module/AuthOptions/syntaxForm/syntaxRememberMeCheckbox";
	@import "/src/scss/module/AuthOptions/syntaxForm/syntaxSubmit";
	@import "/src/scss/module/AuthOptions/syntaxForm/syntaxOptionToChangePath";
}

.form::after {
	content: "";
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	width: 6rem;
	height: 0.5rem;
	border-radius: 10rem;
	background-color: rgba(255, 255, 255, 0.107);
}

.blurForm {
	position: relative;
}
.blurBackground {
	position: absolute;
}

.blurForm::before,
.blurBackground::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.159);
	z-index: 2;
	backdrop-filter: blur(1px);
}

.displayBtn {
	background-color: #bebebe98;
}
