@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$fontFamily: "Inter", sans-serif;

$backgroundColor--primary: rgba(24, 24, 41, 1);
$backgroundColor--secondary: rgba(34, 34, 50, 1);

$button--selected--backgroundGradientTop: rgba(244, 165, 138, 1);
$button--selected--backgroundGradientBottom: rgba(237, 107, 78, 1);

$font--color--primary: rgba(255, 255, 255, 1);
$font--color--secondary: rgba(196, 196, 196, 1);
