@use "../mixin.scss";
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 3rem;
	&__main--header {
		font-weight: 700;
		font-size: 5rem;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&__secondary--header {
		font-weight: 100;
		font-size: 2rem;
		margin-top: 2rem;
	}
	&__secondary--header::after {
		content: url("src/assets/icon/fire.svg");
	}
	&__button {
		@include mixin.linkButton;
	}
	&__button:focus {
		@include mixin.linkButtonFocused;
	}
}

.img {
	margin-top: -4rem;
	height: calc(100vh - 15rem);
	background-image: url("src/assets/img/cover.svg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
