@use "/src/scss/variables.scss";
@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -1000%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -130%);
	}
}
.container {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: variables.$backgroundColor--primary;
	z-index: 3;
	padding: 1rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 30rem;
	animation: slideIn 2s ease forwards;
	&__header {
		font-size: 6rem;
		font-weight: 200;
		font-style: variables.$fontFamily--primary;
		color: aquamarine;
		margin-bottom: 1rem;
	}
	&__paragraph {
		font-size: 2rem;
		font-weight: 100;
		font-style: variables.$fontFamily--secondary;
		margin-bottom: 2rem;
		text-align: center;
	}
	&__link {
		font-size: 2rem;
		font-weight: 400;
		font-style: variables.$fontFamily--secondary;
		margin-bottom: 1rem;
		text-decoration: none;
		color: variables.$font--color--links;
	}
}

.colorRed {
	color: red;
}
