@import "./reset.scss";
@import "./variables.scss";

html {
	font-size: 10px;
}
body {
	font-family: $fontFamily--primary;
	background-color: $backgroundColor--primary;
	color: $font--color--primary;
}
